.grid {
    background-color: bisque;
    height: 40vh;
    display: grid;
    /* display: none; */
    margin-bottom: 10px;
    grid-template-areas: 
    "two    three   five"
    "one    one     five"
    "one    one     five"
    "four   .       five";
  }

  .one{
    grid-area: one;
    background-color: cyan;
  }

  .two{
    grid-area: two;
    background-color: greenyellow;
  }

  .three{
    grid-area: three;
    background-color: darkslateblue;
  }

  .four{
    grid-area: four;
    background-color: cornflowerblue;
  }

  .five{
    grid-area: five;
    background-color: lightsalmon;
  }